@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Overpass&family=Pixelify+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 450px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.4);
    padding: 25px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.temperature-icon {
    font-size: 45px;
    color: #fff;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
    font-size: 45px;
    color: #fff;
}

#celsius, #fahrenheit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input {
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}

.icon {
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
    background: #4d5964;
    color: #fff;
    border-radius: 0 8px 8px 0;
}

.button {
    margin-top: 25px;
    text-align: center;
}

.button button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover {
    background: #000;
    color: #fff;
}

/* For mobile users */

@media (min-width: 412px) and (max-width: 900px) {
    .container {
        max-width: 350px;
        padding: 20px;
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 1px;
        font-size: 35px;
        color: #fff;
    }

    input {
        flex: 5;
        height: 50px;
        font-size: 11px;
        text-align: center;
        padding: 0 5px;
    }
    
    .icon {
        flex: 1;
        height: 50px;
        line-height: 50px;
    }

    .button {
        margin-top: 20px;
        text-align: center;
    } 
}

/*Smaller Size mobile*/
@media (min-width: 250px) and (max-width: 653px) {
    .container {
        max-width: 250px;
        padding: 20px;
    }

    .temperature-icon {
        font-size: 30px;
        color: #fff;
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 1px;
        font-size: 20px;
        color: #fff;
    }

    input {
        flex: 5;
        height: 50px;
        font-size: 11px;
        text-align: center;
        padding: 0 5px;
    }
    
    .icon {
        flex: 1;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        text-align: center;
        font-size: 20px;
    }
    
}